POSTGRES_USER=farm2home
POSTGRES_PASSWORD=farm2home@123
POSTGRES_DB=farm2home

EUREKA_USERNAME=eureka
EUREKA_PASSWORD=eureka@secret

CONFIG_USERNAME=configuser
CONFIG_PASSWORD=config@secret

JWT_SECRET=ZmFybTJob21lLXNlY3JldC1rZXktbXVzdC1iZS1hdC1sZWFzdC0yNTYtYml0cy1sb25n
